.community-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom,#92f7e0,#f2acb1);
    overflow: scroll;
    height: 100vh;
}

.welcome-to{
    color: gray;
}

.description{
    color: gray;
    margin-left: 10vw;
    margin-right: 10vw;;
}

.carousel-image{
    height: 65vh;
}

.carousel-container{
    width: 50vw;
    height: 65vh;
}

.navbar-container{
    background-color: white;
    width: 98vw;
    overflow: hidden;
}

.links-container{
    align-items: center;
}