/*.body-container{
    display: flex;
    flex-direction: column;
    padding-top: 1.5vh;
    align-items: center;
    width: 100vw;
}*/

.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.greet{
    color: darkgray;
}

/*.main-title{
    text-align: center;
    font-size: 7vh;
}*/

@media (max-width: 600px){
    .main-title{
        text-align: center;
        font-size: 4vh;
    }
}

@media (max-width: 600px){
    .body-sub-title{
        text-align: center;
        font-size: 3vh;
        margin: 1vh;
    }
}