.home-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.body-section{
    overflow-y: auto;
    position: relative;
    padding-top: 12vh;
    flex-grow: 1;
}

