.about-us-navbar-container{
    width: 99vw;
    height: 4vh;
    padding: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-us-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: relative;
    padding: 5vh;
}

.bar-container{
    overflow: hidden;
}

.pictures-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10vh;
}

.about-us-picture{
    height: 43vh;
}

.navbar-login{
    border-width: 0px;
    background-color: white;
    font-size: 100%;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other elements */
    padding: 1vh;
}