.main-container{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2vw;
    overflow: scroll;
}

.title{
    color: white;
    width: 50vw;
    font-size: 8vh;
}

.image-gradation{
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 700%, rgba(0,0,0,0) 700%);
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 60%);
}

.page-container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.bodys-container{
    display: flex;
    flex-direction: row;
    height: 93vh;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to bottom,white,#e34b4d);
}

.content-container{
    display: flex;
    flex-direction: column;
}

.makeup-artist{
    margin-top: -10%;
}

.apply-now{
    background-color: red;
    border-width: 0px;
    height: 5vh;
}

.login-container{
    display: flex;
    flex-direction: row;
}

.login-here{
    color: red;
}