.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4vh;
    padding: 1%;
}

.links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 30vw;
}

.portfolio-logo{
    height: 4vh;
}

.navbar-link{
    color: black;
    text-decoration: none;
}