
/*.joinbar-container{
    display: flex;
    flex-direction: row;
    background-color: lavender;
    height: 3vh;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}*/

:root{
    --joinbar-height: 4vh;
}

.joinbar-container{
    display: flex;
    flex-direction: row;
    background-color: lavender;
    justify-content: center;
    align-items: center;
    height: var(--joinbar-height);
    position: fixed;
    width: 100vw;
    z-index: 999;
}

@media (max-width: 360px){
}

@media (max-width: 600px){

    .joinbar-description{
        font-size: 70%;
    }

    .join{
        text-decoration: underline;
        font-size: 70%;
    }
}

/*.join{
    text-decoration: underline;
}*/

.join-modal{
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.your-name{
    height: 3vh;
    border-color: 1px grey;
}

.submit-button{
    height: 5vh;
    background-color: black;
    color: white;
    border: 0px;
}

.message{
    color: red;
    align-self: center;
}