
.join-container{
    display: flex;
    flex-direction: row;
    background-color: lavender;
    height: 3vh;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.join{
    text-decoration: underline;
}