
/*.joinbar-container{
    display: flex;
    flex-direction: row;
    background-color: lavender;
    height: 3vh;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}*/

:root{
    --joinbar-height: 4vh;
}

.joinbar-container{
    display: flex;
    flex-direction: row;
    background-color: lavender;
    justify-content: center;
    align-items: center;
    height: var(--joinbar-height);
    position: fixed;
    width: 100vw;
    z-index: 999;
}
@media (max-width: 320px){
    .joinbar-container{
        height: 5vh;
    }

    .joinbar-description{
        font-size: 60%;
    }

    .join{
        font-size: 60%;
        text-decoration: underline;
    }
}
@media (min-width: 600px) and (max-width:712px){

    .joinbar-description{
        font-size: 60%;
    }

    .join{
        text-decoration: underline;
        font-size: 60%;
    }

    .joinbar-container{
        height: var(--joinbar-height);
    }
}

/*.join{
    text-decoration: underline;
}*/

.join-modal{
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;
}

.your-name{
    height: 3vh;
    border-color: 1px grey;
}

.submit-button{
    height: 5vh;
    background-color: black;
    color: white;
    border: 0px;
}

.message{
    color: red;
    align-self: center;
}


@media (min-width: 713px) and (max-width: 800px){
    @media (min-height: 1139px) and (max-height: 1280px){
        .joinbar-container{
            height: 3vh;
        }
    }
}